
.welcomeContainer {
    display: flex;
    flex-direction: column;
}

.stickyBanner {
    position: sticky;
    top: 0;
    background-color: #253237;
    z-index: 1;
    color: white;

}

.welcomeBanner {
    padding: 30px;
    text-align: center;
}

.welcomeContent {
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: #9DB4C0;
}

.profilePhoto {
    position: absolute;
    top: 135px;
    right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 10%;
}

.logOut {
    position: absolute;
    top: 150px;
    right: 150px;
}