.employerLogo {
    max-width: 100px;
    max-height: 80px;
}

.jobDescription {
    max-height: 80px;
    overflow: auto;
    max-height: 85px;
    margin-top: 10px;
}

.applyButton {
    margin-top: auto;
    margin-bottom: 10px;
}

.cardTitle {
    font-size: medium;
}

.jobHeading {
    margin-top: 20px;
    margin-bottom: 20px;
}

